[Unit]
Description={{ app_name }} service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ binary_dest_path }} start
ExecStop={{ binary_dest_path }} stop
User={{ app_name }}
Group={{ app_name }}

Restart=on-abort
TimeoutSec=60

[Install]
WantedBy=multi-user.target
