[Unit]
Description={{ app_name }} service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/usr/bin/{{ app_name }} start
ExecStop=/usr/bin/{{ app_name }} stop
User={{ app_name }}
Restart=on-abort
TimeoutSec=60

[Install]
WantedBy=multi-user.target
